@model TicketsViewsModel
@using Web_11.Models.data;

<h2>GIỎ HÀNG</h2>

@if (Model.cartItems.Count > 0)
{
    int? total = 0;
    int stt = 1;

    <table class="table">
        <tr>
            <th>#</th>
            <th>Sản phẩm</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
            <th></th>
        </tr>
        @foreach (var cartitem in Model.cartItems)
        {
            Ticket TK = Model.tickets.First(m => m.IdVe == cartitem.product.IdVe);
            var thanhtien = cartitem.quantity * TK.IdLoaiVeNavigation.GiaVe;
            total += thanhtien;

            <tr>
                <td>@(stt++)</td>
                <td>@TK.IdLoaiVeNavigation.TenLoaiVe</td>
                <td>@TK.IdLoaiVeNavigation.GiaVe VND</td>
                <td><input asp-for="@cartitem.quantity" id="@($"quantity-{cartitem.product.IdVe}")" /></td>
                <td>@(thanhtien)</td>
                <td>
                    <button class="btn btn-success updatecartitem"
                            data-productid="@cartitem.product.IdVe">
                        Cập nhật
                    </button>
                    <a asp-route="removecart" asp-route-productid="@cartitem.product.IdVe"
                       class="btn btn-danger">Xóa</a>
                </td>
            </tr>
        }
        <tr>
            <td colspan="4" class="text-right">Tổng tiền</td>
            <td>@(total) VND</td>
            <td></td>
        </tr>
    </table>

    <a asp-controller="Product" asp-action="Checkout" class="btn btn-success">Gửi đơn hàng</a>

    @section Scripts {
        <script>
          $(document).ready(function () {
              $(".updatecartitem").click(function (event) {
                  event.preventDefault();
                  var productid = $(this).attr("data-productid");
                  var quantity = $("#quantity-" + productid).val();
                  $.ajax({
                      type: "POST",
                      url:"@Url.RouteUrl("updatecart")",
                      data: {
                          productid: productid,
                          quantity:quantity
                      },
                      success: function (result) {
                          window.location.href = "@Url.RouteUrl("cart")";
                      }
                  });
              });
          });
        </script>
    }

}
else
{
    <p class="alert alert-danger">Giỏ hàng trống</p>
}