@model IEnumerable<Web_11.Models.Ticket>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianBatDau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoiKhachNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoiNhaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLoaiVeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianBatDau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoiKhachNavigation.IdDoiBong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoiNhaNavigation.IdDoiBong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLoaiVeNavigation.IdLoaiVe)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVe">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdVe">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVe">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
