@model Web_11.Models.Data.Thongtincoban

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Thongtincoban</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hotline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hotline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SanVanDong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SanVanDong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SucChua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SucChua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChuTichClb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChuTichClb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gđdh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gđdh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hlvtruong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hlvtruong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gđkt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gđkt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhaTaiTro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhaTaiTro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDoiBongNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDoiBongNavigation.IdDoiBong)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdThongTin">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
